@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Outfit:wght@200&family=Pacifico&family=Roboto+Mono&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Indie+Flower&family=Outfit:wght@200&family=Pacifico&family=Roboto+Mono&family=Roboto:wght@100&display=swap");

/***BODY***/

body {
  color: rgb(163 163 163);
  font-family: "Roboto", sans-serif;
  margin: 10px;
}

.btnLink {
  background-color: whitesmoke;
  color: rgb(163 163 163);
  float: right;
  border-radius: 50%;
  margin: 20px;
  border: 1px solid #d1b0cc;
}

/***NAV***/
.logo {
  margin: 10px;
  border-radius: 50px;
}

.navbar {
  height: 70px;
  background-color: whitesmoke;
}

.navbar-nav {
  align-items: flex-end;
  background-color: whitesmoke;
  z-index: 3;
  padding-right: 10px;
}

.navbar-brand {
  font-weight: 900;
  font-size: 2em;
  color: #d1b0cc !important;
  margin-right: 20px;
}

@media screen and (max-width: 349px) {
  .navbar-brand {
    font-size: 1em;
  }
}

li {
  display: inline;
}

.nav-link {
  color: rgb(109, 103, 107) !important;
  font-weight: bolder;
}

.nav-link:hover {
  color: #d1b0cc !important;
}

.icons {
  padding: 15px;
}

/***BODY***/

.fixed {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: rgb(163 163 163);
  top: 60px;
  text-align: center;
  width: 100%;
  font-size: 2rem;

  margin-top: 330px;
}
.tel,
.mail {
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgb(163 163 163);
}
.fixed a {
  color: rgb(163 163 163);
}

.fixed a:hover {
  color: #470f88;
}

/***IMG***/
.imgbaby {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 200px;
  z-index: 1000;
}

.imgNounou {
  border-radius: 50%;
  justify-content: space-around;
  z-index: 1000;
}

/***TEXT***/
.word {
  font-family: "Anton", sans-serif;
  perspective: 1000px;
  margin-top: 220px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.word span {
  cursor: pointer;
  display: flex;
  font-size: 5rem;
  user-select: none;
  line-height: 0.8;
  transform: translateY(-50%);
}

.word span:nth-child(1).active {
  animation: balance 10s ease-in infinite;
  transform-origin: bottom left;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(2).active,
.word span:nth-child(10).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(5%);
  }
}

.word span:nth-child(3).active,
.word span:nth-child(9).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }

  24% {
    transform: rotateX(150deg);
  }

  36% {
    transform: rotateX(200deg);
  }

  48% {
    transform: rotateX(175deg);
  }

  60%,
  85% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.word span:nth-child(4).active,
.word span:nth-child(11).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(6).active {
  animation: falling 1s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }

  24% {
    transform: rotateX(150deg);
  }

  36% {
    transform: rotateX(200deg);
  }

  48% {
    transform: rotateX(175deg);
  }

  60%,
  85% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
.word span:nth-child(8).active {
  animation: toplong 1s linear;
}

@keyframes toplong {
  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }

  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}

.dispo {
  display: block;
  color: rgb(163 163 163);
  font-weight: bolder;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 200px;
  padding: 50px;
  line-height: 40px;
  border: 4px solid rgb(163 163 163);
  box-shadow: 2px 2px 2px 2px #d1b0cc;
  font-size: 3rem;
  background-color: whitesmoke;
  margin-left: 40px;
  margin-right: 40px;
}

.dispo p {
  animation: 1s linear infinite alternate animation;
}

@keyframes animation {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(30px);
  }
}

#div1 {
  position: absolute;
  top: 900px;
  height: auto;
  width: 100%;
  font-family: "Hind", sans-serif;
  color: rgb(67, 65, 65);
  font-size: 2rem;
  line-height: 50px;
  margin: 20px;
  padding: 10px;
}

#quiJeSuis,
#nosActivités,
#nousTrouver,
#tarifs {
  font-size: 4rem;
  border-left: 4px solid gray;
  border-top: 4px solid gray;
  display: block;
  padding-top: 30px;
  text-shadow: #d1b0cc 2px 2px 2px;
  color: rgb(163 163 163);
  text-align: center;
}

.text {
  text-align: center;
}

#carouselExampleIndicators {
  margin: 0 auto;
  max-width: 700px;
  object-fit: cover;
  border: whitesmoke solid 5px;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

.videonoel {
  margin: 0 auto;
  display: block;
  max-width: 700px;
}

.mesLoisirs {
  text-align: center;
  margin-bottom: 50px;
  line-height: 50px;
}

table {
  justify-content: center;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 100px;
  font-size: 1.8rem;
}

td {
  border: 1px solid black;
  padding: 10px;
}

.tarifNet {
  text-align: center;
}

.prix {
  background-color: whitesmoke;
}

.année {
  background-color: aliceblue;
}

.heures {
  background-color: lavenderblush;
}

.caf {
  display: block;
  text-align: center;
}

.cafLien {
  display: block;
  text-align: center;
}
iframe {
  margin: 0 auto;
  display: block;
  border: whitesmoke solid 5px;
}

.footer {
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.5rem;
  color: #09010a;
  margin: 0;
}

.sign {
  display: block;
  margin-top: 6700px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.5rem;
  color: #09010a;
  padding-top: 20px;
  background-color: whitesmoke;
  color: rgb(163 163 163);
  margin-left: 0;
  margin-right: 0;
}
.sign a {
  color: #09010a;
  cursor: pointer;
  text-decoration: none;
}

.sign a:hover {
  color: #470f88;
  cursor: pointer;
  text-decoration: none;
}

/***
/*****************************/
@media screen and (max-width: 1700px) {
  .dispo {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .dispo {
    font-size: 1.5rem;
  }
  table {
    font-size: 1.5rem;
  }
  .sign {
    margin-top: 7100px;
  }
}

@media screen and (max-width: 1100px) {
  .word span {
    font-size: 2.5rem;
  }
  #div1 {
    font-size: 1rem;
  }
  #quiJeSuis,
  #nosActivités,
  #nousTrouver,
  #tarifs {
    font-size: 1.5rem;
  }
  table {
    font-size: 1.3rem;
  }
  .sign {
    margin-top: 6400px;
  }
}

@media screen and (max-width: 900px) {
  .imgbaby {
    margin-top: 450px;
  }
  .sign {
    margin-top: 5900px;
  }
  .videonoel,
  iframe,
  #carouselExampleIndicators {
    width: 800px;
    height: auto;
  }
  h1,
  .fixed,
  .tel,
  .mail {
    font-size: 1rem;
  }
  table {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .videonoel,
  #carouselExampleIndicators,
  iframe {
    width: 700px;
    height: auto;
  }
  .sign {
    margin-top: 6100px;
  }
  table {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .videonoel,
  #carouselExampleIndicators,
  iframe {
    width: 600px;
    height: auto;
  }
  table {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .videonoel,
  #carouselExampleIndicators,
  iframe {
    width: 500px;
    height: auto;
  }
  h3 {
    font-size: 1rem;
  }
  table {
    font-size: 0.5rem;
  }
  .sign {
    margin-top: 6500px;
  }
}
@media screen and (max-width: 500px) {
  .videonoel,
  #carouselExampleIndicators,
  iframe {
    width: 400px;
    height: auto;
  }
  .sign {
    margin-top: 6700px;
  }
  table {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 400px) {
  .videonoel,
  #carouselExampleIndicators,
  iframe {
    width: 300px;
    height: auto;
  }
  h3 {
    font-size: 0.8rem;
  }
  table {
    font-size: 0.3rem;
  }
  .sign {
    margin-top: 6900px;
  }
}
@media screen and (max-width: 370px) {
  .sign {
    margin-top: 7500px;
  }
}

@media screen and (max-width: 320px) {
  .sign {
    margin-top: 7700px;
  }
}

@media screen and (max-width: 300px) {
  .videonoel,
  #carouselExampleIndicators,
  iframe {
    width: 250px;
    height: auto;
  }
  table {
    font-size: 0.2rem;
  }
  .sign {
    margin-top: 7900px;
  }
}
